<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kz.almaty.boombrains">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/boom_brains"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/boom_brains_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.sign_pages.change_user.ChangeUserActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity android:name=".ui.game_pages.color_words.ColorWordsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n"/>

        <activity android:name=".ui.game_pages.color_figures.FiguresActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n"/>

        <activity android:name=".ui.game_pages.square_memory.SquareMemory"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n"/>

        <activity android:name=".ui.sign_pages.change_user.ChangePasswordActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n"/>

        <activity
            android:name=".ui.sign_pages.change_user.ResetActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.sign_pages.login_pages.MainSignInActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.sign_pages.login_pages.MainRegister"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.sign_pages.login_pages.MainLoginActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.rem_words.RememberWordsActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.shulte_letter.ShulteLetterActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.main_pages.HowToPlayActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.shulte_page.ShulteLevel"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.start_page.AreYouReadyActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.equation.EquationActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.number_znaki.NumberZnakiActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.find_number.FindNumberActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.main_pages.FinishedActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.zapomni_chislo_page.ZapomniChisloActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.game_pages.shulte_page.ShulteActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.main_pages.GamesStartActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.main_pages.MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <activity
            android:name=".ui.main_pages.SplashScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.game_pages.duel.DuelActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7342268862236285~6997367048" />
    </application>

</manifest>